@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #171717;
  --foreground-rgb: 23, 23, 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-rgb: 237, 237, 237;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.prose-gold {
  --tw-prose-links: #FFD700;
  --tw-prose-invert-links: #FFD700;
}
